.vertical-align {
    display: flex;
    align-items: center;
}

.pt18 {
    font-size: 18pt;
}

.pt16 {
    font-size: 16pt;
}

.pt15 {
    font-size: 15pt;
}

.stretch {
    width:100%;
    height:auto;
    position: relative;
}

#about-us {
    text-align:center;
}

#logoutButton {
    float: right;
}

.login {
    display: inline-block;
    background-color: #FFFFFF;/*#FF8182;*/
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
}

.searchInput {
    width: 100%;
    border: 1px solid #dadada;
    padding: 4px 12px;
    border-radius: 8px;
}

.searchInput:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.priceInput {
    border: 1px solid #dadada;
    padding: 4px 12px;
    border-radius: 8px;
    margin-right: 5px;
}

.priceInput:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.loginInput {
    width: 100%;
    border: 1px solid #dadada;
    padding: 4px 12px;
    border-radius: 8px;
}

.loginInput:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.loginButton {
    width: 100%;
    padding: 4px;
    display: inline-block;
}

.outer {
    text-align: center;
    
}

.orSignUp {
    display: inline-block;
    background-color: #FFFFFF;/*#FF8182;*/
    padding: 2em;
    margin-top: 5px;
}






/*DELETE THIS v*/


.white:link {
    color: white;
}

.white:visited {
    color: white;
}

.white:hover {
    color: white;
}

.white:active {
    color: white;
}

.white {
    color: white;
}