.vertical-align {
    display: flex;
    align-items: center;
}

.pt18 {
    font-size: 18pt;
}

.pt16 {
    font-size: 16pt;
}

.pt15 {
    font-size: 15pt;
}


#about-us {
    color: white;
    position:absolute;
    width:100%;
    top:0;
}

.stretch {
    width:100%;
    height:100%;
    position: relative;
}

/*#about-us ul li {*/
/*    display:table; */
/*    margin:0 auto;*/
/*}*/







/*DELETE THIS v*/


.white:link {
    color: white;
}

.white:visited {
    color: white;
}

.white:hover {
    color: white;
}

.white:active {
    color: white;
}

.white {
    color: white;
}