.vertical-align {
    display: flex;
    align-items: center;
}

.pt18 {
    font-size: 18pt;
}

.pt16 {
    font-size: 16pt;
}

.pt15 {
    font-size: 15pt;
}


#about-us {
    color: white;
    position:absolute;
    width:100%;
    top:0;
    text-align:center;
    /*display: inline-block;*/
    vertical-align: middle;
    /*float: none;*/
}

.stretch {
    width:100%;
    height:100%;
    position: relative;
}

#about-us li {
    display:table; 
    margin:0 auto;
}

#logoutButton {
    float: right;
}

.login {
    display: inline-block;
    background-color: #FFFFFF;/*#FF8182;*/
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
}

.loginInput {
    width: 100%;
    border: 1px solid #dadada;
    padding: 4px 12px;
    border-radius: 8px;
}

.loginInput:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.loginButton {
    width: 100%;
    padding: 4px;
    display: inline-block;
}

.outer {
    text-align: center;
    
}

.orSignUp {
    display: inline-block;
    background-color: #FFFFFF;/*#FF8182;*/
    padding: 2em;
    margin-top: 5px;
}

/*DELETE THIS v*/


.white:link {
    color: white;
}

.white:visited {
    color: white;
}

.white:hover {
    color: white;
}

.white:active {
    color: white;
}

.white {
    color: white;
}